@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #15151f;
  padding: 20px 0;
}

.nfts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
