@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #15151f;
  padding: 0 0 20px;
}

.nfts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.raffles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
